[alias]
	st = status
	di = diff
	ci = commit
	br = branch
	co = checkout
	g = grep --break --heading --line-number
	lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset' --abbrev-commit
[user]
	name = Taylor Vance
[grep]
	extendRegexp = true
	lineNumber = true
[core]
	editor = nvim
