[user]
	name = Taylor Vance

[alias]
	st = status
	di = diff
	ci = commit
	br = branch
	co = checkout
	g = grep --break --heading --line-number
	lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset' --abbrev-commit

[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false

[core]
	editor = nvim
	excludesFile = ~/.gitignore

[grep]
	extendRegexp = true
	lineNumber = true

[credential]
	helper = osxkeychain

[include]
	path = ~/.gitconfig.local
