[user]
	name = Taylor Vance

[alias]
	st = status
	di = diff
	ci = commit
	br = branch
	s = switch
	g = grep --break --heading --line-number
	lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset' --abbrev-commit
	amend = commit --amend --no-edit

[diff]
	tool = nvimdiff
	colorMoved = default
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you use a light terminal background
	side-by-side = true
	line-numbers = true
	syntax-theme = base16

[core]
	editor = nvim
	excludesFile = ~/.gitignore
	pager = delta

[grep]
	extendRegexp = true
	lineNumber = true

[credential]
	helper = osxkeychain

[include]
	path = ~/.gitconfig.local
